body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #87cefa, #fff);
    margin: 0;
    overflow-x: hidden;
}

h1 {
    color: #c70039;
}

#gameContainer {
    position: relative;
    width: 400px;
    height: 600px;
    background: #00aaff33;
    border: 2px solid #000;
    margin: 0 auto;
    overflow: hidden;
}

#player {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    bottom: 100px;
}

.platform {
    position: absolute;
    width: 80px;
    height: 10px;
    background-color: green;
    border-radius: 5px;
}

.snowflake {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
}
